.collapse.navbar-collapse id="navbarNavAltMarkup"
  .navbar-nav
    = link_to t('defaults.register'), new_user_path, class: "nav-link register_link"
    = link_to t('defaults.login'), login_path, class: "nav-link login_link"
